fastapi==0.109.2
uvicorn==0.27.1
pinecone-client==3.0.2
openai==1.61.1
gql[aiohttp]==3.5.0
aiohttp==3.9.3
asyncpg==0.29.0
python-dotenv==1.0.1
fastapi
google-generativeai
gql
llama-index
llama-index-embeddings-openai
llama-index-llms-gemini
llama-index-vector-stores-pinecone
llama-index-vector-stores-postgres
openai
python-dotenv
uvicorn